#20171002
# The follow ignore will excluded everything under it
#WiFi_Server_0.1/

# 20171018
GPSDataExtract0.1/*
!GPSDataExtract0.1/GPSDataExtract0.1.srcs/
GPSDataExtract0.1/GPSDataExtract0.1.srcs/*
!GPSDataExtract0.1/GPSDataExtract0.1.srcs/sources_1/
GPSDataExtract0.1/GPSDataExtract0.1.srcs/sources_1/ip/

# 20171018
GPS_Config_0.1/*
!GPS_Config_0.1/GPS_Config_0.1.srcs/
GPS_Config_0.1/GPS_Config_0.1.srcs/*
!GPS_Config_0.1/GPS_Config_0.1.srcs/sources_1/
GPS_Config_0.1/GPS_Config_0.1.srcs/sources_1/ip/

# 20171006
WiFi_Server_0.2/*
!WiFi_Server_0.2/WiFi_Server_0.2.srcs/
WiFi_Server_0.2/WiFi_Server_0.2.srcs/*
!WiFi_Server_0.2/WiFi_Server_0.2.srcs/sources_1/

WiFi_Server_0.1/*
!WiFi_Server_0.1/WiFi_Server_0.1.srcs/
WiFi_Server_0.1/WiFi_Server_0.1.srcs/*
!WiFi_Server_0.1/WiFi_Server_0.1.srcs/sources_1/


TEST_END0.1/

ESP8266_Config_0.3/
ESP8266_Config_0.4/

#########
!ESP8266_Config_2.4.1/
ESP8266_Config_2.4.1/*
!ESP8266_Config_2.4.1/ESP8266_Config_2.4.1.srcs/
ESP8266_Config_2.4.1/ESP8266_Config_2.4.1.srcs/*
!ESP8266_Config_2.4.1/ESP8266_Config_2.4.1.srcs/sources_1/

# test _0.1.1
/ESP8266_Config_0.1.1/

# test _0.1
/ESP8266_Config_0.1/

# test _2.1.1
/ESP8266_Config_2.1.1/
/ESP8266_Config_2.1.2/
/ESP8266_Config_2.1.3/
/ESP8266_Config_2.1.4/

/ESP8266_Config_0.1.2/
/ESP8266_Config_2.0/
/ESP8266_Config_2.1/

/ESP8266_Config_2.2/
/ESP8266_Config_2.3.1/
/ESP8266_Config_2.3.2/
/ESP8266_Config_2.3.3/
/ESP8266_Config_2.3.4/
/ESP8266_Config_2.3/



/ESP8266_Config_2.3.1.cache/
/ESP8266_Config_2.3.1.hw/
/ESP8266_Config_2.3.1.ip_user_files/
/ESP8266_Config_2.3.1.runs/
/ESP8266_Config_2.3.1.sim/
/ESP8266_Config_2.3.1.xpr/

/ESP8266_Config_2.3.2.cache/
/ESP8266_Config_2.3.2.hw/
/ESP8266_Config_2.3.2.ip_user_files/
/ESP8266_Config_2.3.2.runs/
/ESP8266_Config_2.3.2.sim/
/ESP8266_Config_2.3.2.xpr/

/ESP8266_Config_2.3.3.cache/
/ESP8266_Config_2.3.3.hw/
/ESP8266_Config_2.3.3.ip_user_files/
/ESP8266_Config_2.3.3.runs/
/ESP8266_Config_2.3.3.sim/
/ESP8266_Config_2.3.3.xpr/

/ESP8266_Config_2.3.4.cache/
/ESP8266_Config_2.3.4.hw/
/ESP8266_Config_2.3.4.ip_user_files/
/ESP8266_Config_2.3.4.runs/
/ESP8266_Config_2.3.4.sim/
/ESP8266_Config_2.3.4.xpr/